<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crash Dummy Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="crash-dummy.css" />
</head>
<body>
<h1>Crash Dummy Crash Result</h1>

<p th:if="${url}">

<div th:utext="'Failed URL: ' +  ${url}" th:remove="tag">${url}</div>
</p>

<p th:if="${timestamp}" id='created'>
    <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
</p>

<p th:if="${status}">
    <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
        th:if="${error}" th:text="'('+${error}+')'">error ...</span>
</p>

<p><a href="/">Return To Main Page</a></p>

<th:block th:if="${exceptions}">

    <p th:each="exception : ${exceptions}">

    <textarea style="width: 95%" rows="50">
    <div th:utext="'Exception: ' + ${exception.message}" th:remove="tag">${exception.message}</div>
    <ul th:remove="tag">
        <li th:each="ste : ${exception.stackTrace}" th:remove="tag"><span
                th:utext="${ste}" th:remove="tag">${ste}</span></li>
    </ul>
    </textarea>

    </p>
</th:block>
</body>
</html>
