<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crash Dummy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Crash Dummy</h1>

<table>
    <tr>
        <td>Item</td>
        <td>Action</td>
    </tr>
    <tr th:each="bad : ${allBadThings}">
        <td th:text="${{bad.badThingId}}">
            bad-thing-id
        </td>

        <td>
            <form action="#" th:action="@{/crash}" th:object="${homeController}" method="post">
                <button type="submit" name="id"
                        th:value="${{bad.badThingId}}"
                        th:text="${{bad.badThingId}}">Go
                </button>
            </form>

        </td>

    </tr>
</table>
</body>
</html>

