<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crash Dummy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="crash-dummy.css" />
</head>
<body>
<h1>Crash Dummy</h1>


<table>
    <tr>
        <td style="width: 200px;">Key</td>
        <td>Value</td>
    </tr>
</table>
<p th:each="item : ${info}">
<table style="width: 100%">
    <tr>
        <td style="word-wrap:break-word; width: 200px" valign="top" th:text="${item.key}"></td>
        <td style="word-wrap:break-word" th:text="${item.value}"></td>
    </tr>
</table>
</p>

</body>
</html>

